rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth.userID != null;
      allow create;
      allow update: if request.auth.userID == userId;
      allow delete: if request.auth.userID == userId;
    }
  }
}